body {
  font-family: "Fraunces", serif;
  color: #19456b;
  background: linear-gradient(to top, #fff1eb 10%, #ace0f9 90%);
}
.weather-app {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid #19456b;
  border-radius: 5px;
  background-color: #e0faff;
  opacity: 0.9;
}
h1 {
  font-size: 30px;
  font-weight: 800px;
  line-height: 35px;
  margin-bottom: 0;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-temp i {
  margin-bottom: 30px;
  margin-right: 40px;
  float: right;
}

.weather-temp strong {
  font-size: 40px;
}

.weather-temp .units {
  position: relative;
  font-size: 20px;
  top: -16px;
}
